target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.recommenders
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.metadata/
#### UI ####
coverage/
html-report/
node_modules/
/ui/.angular/cache/
typings/
**/*npm-debug.log.*
**/*yarn-error.log.*
.idea/
.DS_Store
.npmrc
