<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<button class="btn btn-primary btn-icon" style="margin-right: 12px" (click)="addNewSddc()" *appHasPrivilege=addsddc>
  <clr-icon shape="plus">
    </clr-icon>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"  >Add New Integration</font>
     </font>
</button>
<clr-alert [clrAlertType]="alertType" [clrAlertClosed]= "alertclose">
    <div class="alert-item">
        <span class="alert-text">
            {{alertcontent}}
        </span>
    </div>
  </clr-alert>

  <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true" [clrAlertClosed]= "isStatusErrorMsgAlertClose" (clrAlertClosedChange)="statusMsgAlertClose()" >
        <clr-alert-item>
            <span class="alert-text">
                {{statusErrorMsg}}You can reactive the integration by click.<clr-icon shape="ellipsis-vertical"></clr-icon> > Active , you can update the setting by click Edit Setting button if needed. 
            </span>
            <div class="alert-actions">
                <button class="btn alert-action" (click)="fixError()">Update Setting</button>
            </div>
        </clr-alert-item>
    </clr-alert>
    <clr-alert [clrAlertType]="updateStatusAlertType" (clrAlertClosedChange)="updateStatusResultClose()" [clrAlertClosed]= "updateStatusAlertclose">
        <div class="alert-item">
            <span class="alert-text">
                {{updateStatusAlertcontent}}
            </span>
        </div>
    </clr-alert>
<clr-datagrid [clrDgLoading]="loading" (clrDgRefresh)="refresh($event)">

 <clr-dg-column>Type</clr-dg-column>
 <clr-dg-column>Server Url</clr-dg-column>
 <clr-dg-column>Name</clr-dg-column>
 <clr-dg-column>Description</clr-dg-column>
 <clr-dg-column>Login Username</clr-dg-column>
 <clr-dg-column>Verify Cert</clr-dg-column>
 <clr-dg-column>Status</clr-dg-column>
 <clr-dg-placeholder>We could not find any integration!</clr-dg-placeholder>


<clr-dg-row *ngFor="let vmwareConfig of vmwareConfigs">
   <clr-dg-action-overflow>
       <button class="action-item" [disabled] ="checkIsMp(vmwareConfig)" (click)="onEdit(vmwareConfig.id)" *appHasPrivilege=updatesddc>Edit</button>
       <button class="action-item" (click)="onDelete(vmwareConfig.id)" *appHasPrivilege=deletesddc>Delete</button>
       <button class="action-item" [disabled] ="checkIsMp(vmwareConfig)" (click)="syncData(vmwareConfig.id,vmwareConfig.ServerUrl)">Sync Data</button>
       <button class="action-item" [disabled] ="checkIsMp(vmwareConfig)" *ngIf="vmwareConfig.integrationStatus.status == 'ACTIVE'" (click)="updateSDDCStatus(vmwareConfig)" >Pending</button>
       <button class="action-item" [disabled] ="checkIsMp(vmwareConfig)" *ngIf="vmwareConfig.integrationStatus.status != 'ACTIVE'" (click)="updateSDDCStatus(vmwareConfig)" >Active</button>
    </clr-dg-action-overflow>
     <clr-dg-cell>{{vmwareConfig.type}}</clr-dg-cell>
     <clr-dg-cell class = "flowgate-overflow" title="{{vmwareConfig.serverURL}}">{{vmwareConfig.serverURL}}</clr-dg-cell>
     <clr-dg-cell class = "flowgate-overflow" title="{{vmwareConfig.name}}">{{vmwareConfig.name}}</clr-dg-cell>
     <clr-dg-cell class = "flowgate-overflow" title="{{vmwareConfig.description}}">{{vmwareConfig.description}}</clr-dg-cell>    
     <clr-dg-cell class = "flowgate-overflow" title="{{vmwareConfig.userName}}">{{vmwareConfig.userName}}</clr-dg-cell>
     <clr-dg-cell>{{vmwareConfig.verifyCert}}</clr-dg-cell>
     <clr-dg-cell>{{vmwareConfig.integrationStatus.status}}
            <clr-icon *ngIf="vmwareConfig.integrationStatus.status == 'ERROR'" class="alert-icon" style="color: #c92100;cursor: pointer;" shape="exclamation-circle" (click)="showErrorMsg(vmwareConfig)"></clr-icon>       
            <clr-icon *ngIf="vmwareConfig.integrationStatus.status == 'ACTIVE'" class="alert-icon" shape="check-circle" style="color: #318700;"></clr-icon>
            <clr-icon *ngIf="vmwareConfig.integrationStatus.status == 'PENDING'" class="alert-icon" shape="exclamation-triangle" style="color: #ffdc0b;"></clr-icon>
     </clr-dg-cell>
</clr-dg-row>

<clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems] = "totalItems">
    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">Integrations per page</clr-dg-page-size>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
    of {{pagination.totalItems}} Integrations
    </clr-dg-pagination>
</clr-dg-footer>

</clr-datagrid>
<clr-modal [(clrModalOpen)]="deleteOperationConfirm" [clrModalStaticBackdrop]="true">
   <h3 class="modal-title">Operation Tips</h3>
   <div class="modal-body">
       <clr-alert [(clrAlertClosed)] = "deleteOperationAlertClosed"  [clrAlertType]="'danger'">
           <div class="alert-item">
               <span class="alert-text">
                   Operation Error
               </span>
           </div>
       </clr-alert>
       <p>Are you sure you want to delete this data? This action is permenant and cannot be recovered.</p>
   </div>
   <div class="modal-footer">
       <button type="button" class="btn btn-outline" (click)="closeModalOfDeleteOperation()">Cancel</button>
       <button type="button" class="btn btn-primary" (click)="confirmDelete()">Ok</button>
   </div>
</clr-modal>
