<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<button class="btn btn-primary btn-icon" style="margin-right: 12px" (click)="toEditSensorsetting()" *appHasPrivilege=addsensorsetting>
  <clr-icon shape="plus">
    </clr-icon>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"  >Create A Sensorsetting</font>
     </font>
</button>
<clr-datagrid>

 <clr-dg-column>Type</clr-dg-column>
 <clr-dg-column>Min Num</clr-dg-column>
 <clr-dg-column>Max Num</clr-dg-column>
 <clr-dg-column>Min Value</clr-dg-column>
 <clr-dg-column>Max Value</clr-dg-column> 
 <clr-dg-placeholder>We couldn't find any sensor settings!</clr-dg-placeholder>


<clr-dg-row *ngFor="let sensorsetting of sensorsettings">
   <clr-dg-action-overflow>
       <button class="action-item" (click)="onEdit(sensorsetting.id)" *appHasPrivilege=updatesensorsetting>Edit</button>
       <button class="action-item" (click)="onDelete(sensorsetting.id)" *appHasPrivilege=deletesensorsetting>Delete</button>
   </clr-dg-action-overflow>
     <clr-dg-cell>{{sensorsetting.type}}</clr-dg-cell>
     <clr-dg-cell>{{sensorsetting.minNum}}</clr-dg-cell>
     <clr-dg-cell>{{sensorsetting.maxNum}}</clr-dg-cell>
     <clr-dg-cell>{{sensorsetting.minValue}}</clr-dg-cell>
     <clr-dg-cell>{{sensorsetting.maxValue}}</clr-dg-cell>
</clr-dg-row>


<clr-dg-footer *ngIf="sensorsettings.length>0">

         <ul class="pagination">
             <li style="padding-top: 5px;"><div class="select">
               <select id="selects_1" [ngModel]="pageSize" (ngModelChange)="pageSize=$event;setInfo()">
                 <option>5</option>
                 <option>10</option>
                 <option>20</option>
                 <option>50</option>
             </select></div>
           </li>
              <li ><button class="pagination-previous" type="button" on-click="previous()" ></button></li>
              <li class="pagination-current">{{currentPage}}/{{totalPage}}</li>
              <li> <button class="pagination-next" type="button" disabled="{{disabled}}" on-click="next()"></button></li>
          </ul>
      
</clr-dg-footer>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
   <h3 class="modal-title">Operation Tips</h3>
   <div class="modal-body">
       <clr-alert [(clrAlertClosed)] = "clrAlertClosed"  [clrAlertType]="'danger'" (clrAlertClosedChange)="onClose()">
           <div class="alert-item">
               <span class="alert-text">
                   Operation Error
               </span>
           </div>
       </clr-alert>
       <p>Are you sure you want to delete this data? This action is permenant and cannot be recovered.</p>
   </div>
   <div class="modal-footer">
       <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
       <button type="button" class="btn btn-primary" (click)="confirm()">Ok</button>
   </div>
</clr-modal>
