<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Flowgate
        </section>
        <div class="login-group">

            <clr-input-container>
                <label class="clr-sr-only">Username</label>
                <input type="text" name="username" style="width: 212px;" clrInput placeholder="Username" [(ngModel)]="user.username"/>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="user.password"/>
            </clr-password-container>
            <clr-checkbox-wrapper hidden>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox />
            </clr-checkbox-wrapper>
            <div *ngIf="tips" class="error active" >
                {{textContent}}
            </div>
            <button type="submit" on-click="toLogin()" class="btn btn-primary">login</button>
        </div>
    </form>
</div>
