 <!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<clr-tabs>
    <clr-tab>
        <button clrTabLink>Common</button>
        <clr-tab-content>
            <form clrForm [formGroup]="addDCIMForm" >
                <clr-select-container>
                   <label>Type</label>
                   <select clrSelect style="width: 220px;" formControlName="type" (change)="changetype()">                          
                    <option *ngFor="let adapter of dcimAdapters" value="{{adapter.displayName}}" >{{adapter.displayName}}</option>      
                  </select>
                   <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
               </clr-select-container>
               <clr-control-container>
                   <label>Server</label>
                   <input clrControl placeholder="Server Ip Or Domain Name" formControlName="serverURL"  style="width: 220px;"/>
                   <clr-control-helper>Please input Server Ip Or Domain Name.</clr-control-helper>
                   <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
               </clr-control-container>
               <clr-control-container>
                   <label>Name</label>
                   <input clrControl placeholder="Name" formControlName="name" style="width: 220px;"/>
                   <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
               </clr-control-container>
           
               <clr-control-container>
                   <label>Description</label>
                   <input clrControl placeholder="Description" formControlName="description" style="width: 220px;"/>
               </clr-control-container>
           
                <clr-control-container>
                   <label>UserName</label>
                   <input clrControl placeholder="Username" formControlName="userName"style="width: 220px;" />
                   <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
               </clr-control-container>
           
               <clr-password-container>
                 <label>Password</label>
                 <input placeholder="Password" clrPassword formControlName="password" name="password" style="width: 185px;"/>
                 <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
               </clr-password-container>
                 
               <clr-radio-container clrInline>
                   <label>VerifyCert</label>
                   <clr-radio-wrapper>
                     <input type="radio" clrRadio name="verifyCert" required value="true" formControlName="verifyCert"/>
                     <label>Yes</label>
                   </clr-radio-wrapper>
                   <clr-radio-wrapper>
                     <input type="radio" clrRadio name="verifyCert" required value="false" formControlName="verifyCert"/>
                     <label>No</label>
                   </clr-radio-wrapper>
               </clr-radio-container>
           
               <div style="margin-top: 50px;">
                 <button type="submit" class="btn btn-primary" on-click="save()" [disabled]="addDCIMForm.invalid">Submit</button>
                 <button type="button" class="btn btn-primary" on-click ="cancel()">Cancel</button>
               </div>
           </form>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Advance Setting</button>
        <clr-tab-content>
            <form clrForm>
                <clr-input-container>
                    <label>Date Format</label>
                    <input clrInput placeholder="Date Format" style="width: 200px;" name="dateFormat" [(ngModel)]="dcimConfig.advanceSetting.DateFormat" />
                    <clr-control-helper>It will use the entered date format to parse time for the metric data. Leave it as blank to use the default format unless you understanding what you did.</clr-control-helper>
                </clr-input-container>

                <clr-select-container>
                        <label>Timezone </label>     
                        <select clrSelect name="timezone" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.TimeZone">
                            <option value="" >Please Select </option>
                                    <option value="GMT" >GMT</option>
                                    <option value='GMT+1:00' >GMT + 1</option>
                                    <option value='GMT+2:00' >GMT + 2</option>
                                    <option value='GMT+3:00' >GMT + 3</option>
                                    <option value='GMT+4:00' >GMT + 4</option>
                                    <option value='GMT+5:00' >GMT + 5</option>
                                    <option value='GMT+6:00' >GMT + 6</option>
                                    <option value='GMT+7:00' >GMT + 7</option>
                                    <option value='GMT+8:00' >GMT + 8</option>
                                    <option value='GMT+9:00' >GMT + 9</option>
                                    <option value='GMT+10:00' >GMT + 10</option>
                                    <option value='GMT+11:00' >GMT + 11</option>
                                    <option value='GMT+12:00' >GMT + 12</option>
                                    <option value='GMT+13:00' >GMT + 13</option>
                                    <option value='GMT+14:00' >GMT + 14</option>
                                    <option value='GMT-1:00' >GMT - 1</option>
                                    <option value='GMT-2:00' >GMT - 2</option>
                                    <option value='GMT-3:00' >GMT - 3</option>
                                    <option value='GMT-4:00' >GMT - 4</option>
                                    <option value='GMT-5:00' >GMT - 5</option>
                                    <option value='GMT-6:00' >GMT - 6</option>
                                    <option value='GMT-7:00' >GMT - 7</option>
                                    <option value='GMT-8:00' >GMT - 8</option>
                                    <option value='GMT-9:00' >GMT - 9</option>
                                    <option value='GMT-10:00' >GMT - 10</option>
                                    <option value='GMT-11:00' >GMT - 11</option>
                                    <option value='GMT-12:00' >GMT - 12</option>
                        </select>
                        <clr-control-helper>This will set the data timezone to a specific timezone. Leave it as blank unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>
                <clr-select-container>
                    <label>Power Unit</label>     
                    <select clrSelect name="powerUnit" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.PDU_POWER_UNIT">
                        <option value="" >Please Select </option>
                        <option value='W' >W</option>
                        <option value='KW'>KW</option>
                    </select>
                    <clr-control-helper>This will set the unit of power. Leave it as default value unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>        
                     
                <clr-select-container>
                    <label>Current Unit</label>     
                    <select clrSelect name="ampsUnit" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.PDU_AMPS_UNIT">
                        <option value="" >Please Select </option>
                        <option value='A' >A</option>
                        <option value='KA' >KA</option>
                    </select>
                    <clr-control-helper>This will set the unit of current. Leave it as default value unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>  
                <clr-select-container>
                    <label>Voltage Unit</label>     
                    <select clrSelect name="voltUnit" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.PDU_VOLT_UNIT">
                        <option value="" >Please Select </option>
                        <option value='V' >V</option>
                        <option value='KV' >KV</option>
                    </select>
                    <clr-control-helper>This will set the unit of voltage. Leave it as default value unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>  
                <clr-select-container>
                    <label>Temperature Unit</label>     
                    <select clrSelect name="temUnit" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.TEMPERATURE_UNIT">
                        <option value="" >Please Select </option>
                        <option value="C" >C</option>
                        <option value='F' >F</option>
                    </select>
                    <clr-control-helper>This will set the unit of temperature. Leave it as default value unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>  
                <clr-select-container>
                    <label>Humidity Unit</label>     
                    <select clrSelect name="HUMIDITY_UNIT" style="width: 200px;" [(ngModel)]="dcimConfig.advanceSetting.HUMIDITY_UNIT">
                        <option value="" >Please Select </option>
                        <option value="%" >%</option>
                    </select>
                    <clr-control-helper>This will set the unit of humidity. Leave it as default value unless you understanding the affect of the changes.</clr-control-helper>
                </clr-select-container>  
                <button type="submit" class="btn btn-primary" on-click="save()" [disabled]="addDCIMForm.invalid">Submit</button>
                <button type="button" class="btn btn-primary" on-click ="cancel()">Cancel</button>  
            </form>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<clr-modal [(clrModalOpen)]="operatingModals" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
        <h3 class="modal-title">Operation tips</h3>
        <div class="modal-body">
            <p>{{tip}}</p>
        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-primary" (click)="closeOperationTips()">Close</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="ignoreCertificatesModals" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
        <h3 class="modal-title">Operation tips</h3>
        <div class="modal-body">
            <p>{{tip}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeVerifyCertModal()">No</button> 
            <button type="button" class="btn btn-primary" (click)="confirmNoVerifyCertModal()">Yes</button>
        </div>
</clr-modal>
<div *ngIf="loading" >
        <div id="mask" style="position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0, 0, 0, 0.4);z-index:198910170;">
            <div style="position:relative;width:100%;height:100%;">
                <div style="width:150px;height:150px;background:#ffffff;border-radius:5px;text-align:center;position:absolute;top:50%;left:50%;margin-left:-75px;margin-top:-75px;">
                    <span class="spinner" style="margin-top: 25%;">
                        Loading...
                    </span>
                </div>
            </div>
        </div>
    </div>