 <!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->   
<form #userForm="ngForm" >
    <section class="form-block">
            <label> Content for User</label> 
        <div class="form-group">
          <label class="required" for="empuserName">UserName</label>       
          <label for="empuserName"
              aria-haspopup="true"
              role="tooltip"
              class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
              <input type="text" id="empuserName" placeholder="Enter UserName"
                  required
                  disabled
                  name="userName"
                  [(ngModel)]="user.username"
                  #userNameInput="ngModel">
              <span class="tooltip-content">
                  UserName is Required.
              </span>
          </label>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="required"  for="empemail">E-mail</label>
          <label for="empemail"
              aria-haspopup="true"
              role="tooltip"
              class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
              <input type="text" id="empemail" placeholder="Enter E-Mail"
                  required
                  name="email"
                  [(ngModel)]="user.email"
                  #emailInput="ngModel">
              <span class="tooltip-content">
                  E-mail is Required.
              </span>
          </label>
        </div>
        <form style="margin-top: 0px;"  >
            <section class="form-block" style="margin-top: 0px;">
                <div class="form-group">
                    <label for="password">Password</label>
                    <label for="password"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                        <input type="password" id="password" placeholder="New Password"
                            required
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,20}$"
                            name="password"
                            [(ngModel)]="user.password"
                            #passwordInput="ngModel"
                            >
                        <span class="tooltip-content">
                            Password should be 8-20 characters long with at least 1 uppercase, 1 lowercase and 1 number.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <label for="confirmPassword"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-md"
                        [class.invalid]="getValidationState()">
                        <input type="password" id="confirmPassword" placeholder="Confirm Password"
                            required                       
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,20}$"
                            name="confirmPassword"
                            [(ngModel)]="user.rpassword"
                            #confirmPasswordInput="ngModel"
                            (input)='handleValidation("confirmPassword", false)' 
                        (blur)='handleValidation("confirmPassword", true)'
                        >
                        <span class="tooltip-content">
                            Password do not match.
                        </span>
                    </label>
                    
                </div>
            </section>
                
          </form>
      

       
        <button type="submit" class="btn btn-primary" on-click="save()" [disabled]="userForm.form.invalid">Submit</button>
        <button type="button" class="btn btn-primary" on-click="back()">Back</button>
    </section>
  </form>

  
<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Operation tips</h3>
    <div class="modal-body">
        <p>{{modal}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="close()">Close</button> 
    </div>
</clr-modal>