h5{
    color: #fdb951;
    font-size: 1.2vw;
    margin-bottom: -13px; 
    border-bottom: 1px solid #e8e8e8;
}
.card {
    box-shadow: 0 0 0 0 #d7d7d7;
    border-radius: .125rem;
    border: 1px solid #d7d7d770;
    height: 100%;
}
.btn{
    max-width: 1000px;
}
.bigFont{
    color:#25cfec; 
    font-size: 2.5vw;
    margin: auto;
    padding-top: 20%;
}
.smallFont{
    color:#be7aca; 
    font-size: 1.8vw;
    margin:auto;
    margin-top:6%;
}
.bigTitle{
    color:#9A9A9A; 
    font-size: 1.0vw;
    margin-left: 6%;
    margin-top: 5%;
}
.smallTitle{
    margin: auto;
    margin-top:10%;
    color:#9A9A9A; 
    font-size: 1.0vw;
}
.modalBigTitle{
    margin: auto;
    font-size: 1.5vw;
    color: #9a9a9a;
    margin-top: 10px;
}
.modalBigFont{
    margin: auto;
    color: #a7a7a7;
}
.modalSmallTitle{
    padding-top: 9px;
    margin: auto;
    font-size: 19px;
    color: #25cfec;
}
.modalSmallFont{
    margin: auto;
    color: #bdbdbd;
}
.integrationTitle{
    margin: auto;
    font-size: 1.2vw;
    margin-top: 22%;
    color: #9a9a9a;
}
.integrationFont{
    margin: auto;
    padding-top: 39px;
    font-size: 2.0vw;
    color: #acffbe;
}
.integrationSmallTitle{
    color: #9a9a9a;
    font-size: 1.0vw;
    margin: auto;
    margin-top: 30px;
}
.integrationSmallFont{
    padding-top: 34px;
    font-size: 2.0vw;
    margin: auto;
    color: #acffbe;
}
.modalServerDetailSmallTitle{
    padding-left: 50px;
    position: absolute;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    color: #a0a0a0;
}
.modalServerDetailSmallFont{
    font-size: 34px;
    margin: auto;
    position: absolute;
    margin-top: 21px;
    color: #25cfec;
}
.sensorCard{
    border-radius: 7%;
    border: 1px solid #dedede42;
    height: 140%;
}
.sensorCard .modalBigTitle{
    margin-top: 37px;
    font-size: 1.5vw;
}
.sensorCard .modalBigFont{
    color: #ffa5e7;
    margin-top: 45px;
    font-size: 2.0vw;
}
.systemDetailFont{
    font-size: 20px;
    color: #afb1b1;
}
.systemDetailTitle{
    font-size:15px; 
    color:#969494;
}
.systemDetailSubTitle{
    font-size: 13px;
    color:#c3c2c2;
}
.lihover{
    :hover{
        background:#e8e8e8;
    }
}
