<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<form #DcimForm="ngForm">
  <section class="form-block">
        <label style="border-bottom-width: 1px;border-bottom-style: double;"> ADD ASSET</label>

        <div class="form-group">
          <label class="required" for="AssetName">AssetName</label>       
          <label for="AssetName"
              aria-haspopup="true"
              role="tooltip"
              class="tooltip tooltip-validation tooltip-md"
              [class.invalid]="AssetName.invalid && (AssetName.dirty || AssetName.touched)">
              <input type="text" id="AssetName" placeholder="Enter AssetName" autocomplete="off"
                  required
                  name="AssetName"
                  [(ngModel)]="asset.assetName"
                  #AssetName="ngModel">
              <span class="tooltip-content">
                AssetName is Required.
              </span>
          </label>
        </div>

        <div class="form-group">
          <label class="required" for="category">Category</label>
          <div class="select" style="width:184px; " id="category"> 
            <select clrSelect name="category" [(ngModel)]="asset.category" required>
              <option *ngFor="let item of allcategory" [value]="item">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label  for="SubCategory" *ngIf="asset.category=='Server'||asset.category=='Sensors' "class="required">SubCategory</label>
          <div class="select" style="width:184px; " id="SubCategory" *ngIf="asset.category=='Server'||asset.category=='Sensors' " > 
            <select clrSelect name="SubCategory" [(ngModel)]="asset.subCategory" required >
              <option  *ngFor="let item of suballcategory[asset.category]"  [value]="item">{{item}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" >
          <label for="AssetNumber">AssetNumber</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.assetNumber" id="AssetNumber" placeholder="Enter AssetNumber" size="45"/>
        </div>

        <div class="form-group" >
          <label for="Manufacturer">Manufacturer</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.manufacturer" id="Manufacturer" placeholder="Enter Manufacturer" size="45"/>
        </div>

        <div class="form-group" >
          <label for="Model">Model</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.model" id="Model" placeholder="Enter Model" size="45"/>
        </div>

        <div class="form-group" >
          <label for="serialnumber">Serialnumber</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.serialnumber" id="serialnumber" placeholder="Enter Serialnumber" size="45"/>
        </div>

        <div class="form-group" >
          <label for="tag">Tag</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.tag" id="tag" placeholder="Enter Tag" size="45"/>
        </div> 

        <div class="form-group"  *ngIf="asset.category!='Cabinet' ">
          <label for="cabinetName">CabinetName</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.cabinetName" id="cabinetName" placeholder="Enter CabinetName" size="45"/>
        </div>
        <div  class="form-group"  *ngIf="asset.category!='Cabinet' ">
          <label for="cabinetUnitPosition">CabinetUnitPosition</label>
          <input style="width:184px; " class="form-control" type="number" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.cabinetUnitPosition" id="cabinetUnitPosition" placeholder="Enter  CabinetUnitPosition" size="45"/>
        </div>

        <div class="form-group " *ngIf="asset.category!='Cabinet' ">
          <label class="required" for="mountingSide">MountingSide</label>
              <div class="select" style="width:184px; " id="mountingSide"> 
                <select clrSelect name="options2" [(ngModel)]="asset.mountingSide" required>
                  <option value="Front">Front</option>
                  <option value="Back">Back</option>
                  <option value="Unmounted">Unmounted</option>
                  <option value="External">External</option>
                </select>
              </div>
        </div>

        <div class="form-group"  *ngIf="asset.category=='Cabinet' ">
          <label for="cabinetsize">Cabinetsize</label>
          <input style="width:184px; " class="form-control" type="number" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.cabinetUnitPosition" id="cabinetsize" placeholder="Enter Cabinetsize" size="45"/>
        </div>
        <div class="form-group"  *ngIf="asset.category=='Cabinet' ">
          <label for="cabinetAssetNumber">CabinetAssetNumber</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.cabinetAssetNumber" id="cabinetAssetNumber" placeholder="Enter CabinetAssetNumber" size="45"/>
        </div> 

        <div class="form-group"  *ngIf="asset.category=='Sensors' ">
          <label class="required" for="assetRealtimeDataSpec">RealtimeDataUnit</label>
          <div class="select" style="width:184px; " id="assetRealtimeDataSpec"> 
            <select clrSelect name="assetRealtimeDataSpec" [(ngModel)]="asset.assetRealtimeDataSpec.unit" required>
              <option value="Volts">Volts</option>
              <option value="Amps">Amps</option>
              <option value="KW">KW</option>
              <option value="Celsius">Celsius</option>
              <option value="Fahrenheit">Fahrenheit</option>
              <option value="Percent">Percent</option>
            </select>
          </div>
        </div> 
        <div class="form-group"  *ngIf="asset.category=='Sensors' ">
          <label for="validNumMin">validNumMin</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.assetRealtimeDataSpec.validNumMin" id="validNumMin" placeholder="Enter ValidNumMin" size="45"/>
        </div>
        <div class="form-group"  *ngIf="asset.category=='Sensors' ">
          <label for="validNumMax">validNumMax</label>
          <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.assetRealtimeDataSpec.validNumMax" id="validNumMax" placeholder="Enter ValidNumMax" size="45"/>
        </div> 

        <div class="form-group">
          <label class="required" for="status">Status</label>
          <div class="select" style="width:184px; " id="status">
            <select clrSelect name="status" [(ngModel)]="asset.status.status" required>
              <option value="Planned">Planned</option>
              <option value="Active">Active</option>
              <option value="Recycled">Recycled</option>
              <option value="Decommissioned">Decommissioned</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
        </div>

        <clr-tree-node>
          Location
          <ng-template [clrIfExpanded]="false">
              <clr-tree-node>
                  <div class="col-md-12" style="margin-left:-1.4rem; border-top-width: 1px; border-top-style: inset;">
                    <div class="form-group"  style="margin-top: 12px;">
                      <label for="region">Region</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.region" id="region" placeholder="Enter Region" size="45"/>
                    </div>
                    <div class="form-group">
                      <label for="country">Country</label>
                      <input   style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.country" id="country" placeholder="Enter Country" size="45"/>
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.city" id="city" placeholder="Enter City" size="45"/>
                    </div>
                    <div class="form-group" >
                      <label for="building">Building</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.building" id="building" placeholder="Enter Building" size="45"/>
                    </div>
                    <div class="form-group" >
                      <label for="floor">Floor</label>
                      <input   style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.floor" id="floor" placeholder="Enter Floor " size="45"/>
                    </div>
                    <div class="form-group" >
                      <label for="room">Room</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.room" id="room" placeholder="Enter  Room  " size="45"/>
                    </div>
                    <div class="form-group" >
                      <label for="row">Row</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.row" id="row" placeholder="Enter Row" size="45"/>
                    </div>
                    <div class="form-group" >
                      <label for="col">Col</label>
                      <input style="width:184px; " class="form-control" type="text" [ngModelOptions]="{standalone: true}"  [(ngModel)]="asset.col" id="col" placeholder="Enter Col" size="45"/>
                    </div>
                  </div>
              </clr-tree-node>
          </ng-template>
        </clr-tree-node>

        <button type="submit" class="btn btn-primary"  (click)="save()" [clrLoading]="addassetloading" [disabled]="DcimForm.form.invalid || addassetloading">Submit</button>
        <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
      
      <clr-modal [(clrModalOpen)]="addfail" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
        <h3 class="modal-title">Operation tips</h3>
        <div class="modal-body">
            <p>Add Asset Fail:</p>
            <p>{{tip}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closefailTips()">Close</button>
        </div>
      </clr-modal>

      </section>
</form>