<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<form>
<section class="form-block">
    <label> Content For Server Mapping</label>          
    <div class="form-group">
            <label for="selects_3" >Integration Type:</label>
            <div class="select" style="margin-left: -110px;">
                <select id="selects_2" [ngModelOptions]="{standalone: true}"  [(ngModel)]="serverconfig.type" on-change="changeType()" > 
                    <option value="VRO" >vRealize Operations Manager</option>
                    <option value="VCENTER">VMware vCenter</option>
                    <option value="VROPSMP">vRealize Operations Management Pack</option>
                </select>
            </div>
            <label for="selects_3">Server:</label>
            <div class="select">
                <select id="selects_3" [ngModelOptions]="{standalone: true}"  [(ngModel)]="serverconfig.id" on-change="change()" > 
                    <option value="">Please Select</option>
                    <option value="{{serverconfig.id}}" *ngFor="let serverconfig of serverconfigs">{{serverconfig.name}}</option>
                </select>
            </div>
        </div>
</section>
</form>

<clr-datagrid>

        <clr-dg-column [clrDgField]="'vroResourceName'">
                <ng-container *clrDgHideableColumn="{hidden: vrohid}">
                        vRealize Operations Manager Host Name
                </ng-container>
        </clr-dg-column>
       
        <clr-dg-column [clrDgField]="'vroVMEntityObjectID'">
                <ng-container *clrDgHideableColumn="{hidden: vrohid}">
                        vRealize Operations Manager VM Entity Object ID
                </ng-container>
        </clr-dg-column>
        
        <clr-dg-column [clrDgField]="'vcHostName'">
                <ng-container *clrDgHideableColumn="{hidden: hid}">
                        vCenter Host Name
                </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'vcMobID'">
                <ng-container *clrDgHideableColumn="{hidden: hid}">
                        vCenter Mob ID
                </ng-container>
        </clr-dg-column>
       
        <clr-dg-column [clrDgField]="'asset'">Asset</clr-dg-column>
        <clr-dg-column>Operation</clr-dg-column>
        <clr-dg-placeholder>{{nulltips}}</clr-dg-placeholder>

       
        <clr-dg-row *clrDgItems="let serverMapping of serverMappings">
                <clr-dg-cell>{{serverMapping.vroResourceName}}</clr-dg-cell>
                <clr-dg-cell>{{serverMapping.vroVMEntityObjectID}}</clr-dg-cell>
                <clr-dg-cell>{{serverMapping.vcHostName}}</clr-dg-cell>
                <clr-dg-cell>{{serverMapping.vcMobID}}</clr-dg-cell>
                <clr-dg-cell>{{serverMapping.asset}}</clr-dg-cell>
                <clr-dg-cell>

                        <clr-dropdown>
                        <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                                Actions
                                <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                                
                                <button type="button" on-click="updateAssetID(serverMapping.id)" clrDropdownItem >Mapping Server asset</button>
                                <button type="button" on-click="showOtherAssetMapping(serverMapping.id,'PDU')" [disabled] = "validateMapped(serverMapping)" clrDropdownItem >Mapping PDU asset</button>
                                <button type="button" on-click="showSensors(serverMapping.id,'Sensors')" [disabled] = "validateMapped(serverMapping)" clrDropdownItem >Mapping Sensor asset</button>
                                <button type="button" on-click="showOtherAssetMapping(serverMapping.id,'Networks')" [disabled] = "validateMapped(serverMapping)" clrDropdownItem >Mapping Switch asset</button>
                                
                                <button type="button" clrDropdownItem on-click="deleteServerMapping(serverMapping.id)">Delete</button>
                        </clr-dropdown-menu>
                        </clr-dropdown>    
                </clr-dg-cell>  
        </clr-dg-row>
       
      
       <clr-dg-footer *ngIf="serverMappings.length>0">
                <ul class="pagination">
                    <li style="padding-top: 5px;"><div class="select">
                      <select id="selects_1" [ngModel]="pageSize" (ngModelChange)="pageSize=$event;setInfo()">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select></div>
                  </li>
                     <li ><button class="pagination-previous" type="button" on-click="previous()" ></button></li>
                     <li class="pagination-current">{{currentPage}}/{{totalPage}}</li>
                     <li> <button class="pagination-next" type="button" disabled="{{disabled}}" on-click="next()"></button></li>
                 </ul>
       </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="mappedServerModalOpen" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
        <h3 class="modal-title">Select Assets</h3>
       
        <div class="modal-body">
                <clr-alert [clrAlertClosable]="true" *ngIf="updateAssetModalErrorShow" [clrAlertType]="'danger'">
                        <clr-alert-item>
                            <span class="alert-text">
                                {{updateAssetError}}
                            </span>
                        </clr-alert-item>
                    </clr-alert>
                <div class="form-group">
                        <table>
                                <tr>
                                   <td><input type="text" id="formFields_9" placeholder="assetName" [(ngModel)]="keywords" (keyup)="($event.which === 13) ? search() : 0" size="35"></td>
                                   <td><button [clrLoading]="searchBtnState" [disabled]="searchBtnDisabled" class="btn btn-sm" (click)="search();" >Search</button></td>
                                   <td>MappedAsset: </td>
                                   <td>
                                        <clr-checkbox *ngIf ="mappedServerAsset.assetName != null"[ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="mappedServerAsset.enable"  [clrInline]="true">
                                          {{mappedServerAsset.assetName}}
                                         </clr-checkbox>
                                   </td>
                                </tr>
                        </table>                
                </div>
                <clr-datagrid [(clrDgSingleSelected)]="mappedServerAsset" [clDgRowSelection]="true" [clrDgLoading]="loading">
                        <clr-dg-column>Asset Name</clr-dg-column>
                        <clr-dg-column>Asset Source</clr-dg-column>
                        <clr-dg-column>Serial Number</clr-dg-column>
                        <clr-dg-column>Tag</clr-dg-column>
                        <clr-dg-column>Manufacturer</clr-dg-column>
                        <clr-dg-column>Model</clr-dg-column>
                        <clr-dg-column>Location</clr-dg-column>
                        <clr-dg-column>Cabinet Name</clr-dg-column>
                        <clr-dg-column>Cabinet Unit Position</clr-dg-column>
                        <clr-dg-column>Pdus</clr-dg-column>
                        <clr-dg-placeholder>We couldn't find any assets!</clr-dg-placeholder>

                       <clr-dg-row *clrDgItems="let asset of assets" [clrDgItem]="asset">
                            <clr-dg-cell>{{asset.assetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.assetSource}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.serialnumber}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.tag}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.manufacturer}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.model}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.region}},{{asset.country}},{{asset.city}},{{asset.building}},{{asset.floor}},{{asset.room}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetUnitPosition}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.pdus}}</clr-dg-cell>
                       </clr-dg-row>
                      
                       <clr-dg-footer>
                                <ul class="pagination">
                                     <li ><button class="pagination-previous" type="button" on-click="previousAsset()" ></button></li>
                                     <li class="pagination-current">{{currentPageAsset}}</li>
                                     <li> <button class="pagination-next" type="button" disabled="{{disabledAsset}}" on-click="nextAsset()"></button></li>
                                 </ul>
                       </clr-dg-footer>
                </clr-datagrid>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="cancelAsset()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confirmAsset(mappedServerAsset)">Ok</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="mappedOtherAssetModalOpen" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
        <h3 class="modal-title">Select {{showOtherCategory}}</h3>
       
        <div class="modal-body">
                <clr-alert [clrAlertClosable]="true" *ngIf="updateAssetModalErrorShow" [clrAlertType]="'danger'">
                        <clr-alert-item>
                            <span class="alert-text">
                                {{updateAssetError}}
                            </span>
                        </clr-alert-item>
                    </clr-alert>
                <div class="form-group">
                        <table>
                                <tr>
                                   <td><input type="text" id="formFields_8" placeholder="assetName" [(ngModel)]="keywords" (keyup)="($event.which === 13) ? search() : 0" size="35"></td>
                                   <td><button [clrLoading]="searchBtnState" [disabled]="searchBtnDisabled" class="btn btn-sm" (click)="search();" >Search</button></td>
                                   <td>Mapped Asset: </td>
                                   <td>
                                       
                                        <clr-checkbox *ngFor="let asset of mappedOtherAssets"  [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="asset.enable" [clrInline]="true">
                                                {{asset.assetName}}
                                        </clr-checkbox>
                                        
                                   </td>
                                </tr>
                        </table>                
                </div>
                <clr-datagrid [(clrDgSelected)]="selectedOtherAssets" [clDgRowSelection]="true" [clrDgLoading]="loading">
                        <clr-dg-column>Asset Name</clr-dg-column>
                        <clr-dg-column>Asset Source</clr-dg-column>
                        <clr-dg-column>Serial Number</clr-dg-column>
                        <clr-dg-column>Tag</clr-dg-column>
                        <clr-dg-column>Manufacturer</clr-dg-column>
                        <clr-dg-column>Model</clr-dg-column>
                        <clr-dg-column>Location</clr-dg-column>
                        <clr-dg-column>Cabinet Name</clr-dg-column>
                        <clr-dg-column>Cabinet Unit Position</clr-dg-column>
                        <clr-dg-placeholder>We couldn't find any assets!</clr-dg-placeholder>

                       <clr-dg-row *clrDgItems="let asset of assets" [clrDgItem]="asset">
                            <clr-dg-cell>{{asset.assetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.assetSource}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.serialnumber}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.tag}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.manufacturer}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.model}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.region}},{{asset.country}},{{asset.city}},{{asset.building}},{{asset.floor}},{{asset.room}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetUnitPosition}}</clr-dg-cell>
                       </clr-dg-row>
                      
                       <clr-dg-footer>
                                <ul class="pagination">
                                     <li ><button class="pagination-previous" type="button" on-click="previousAsset()" ></button></li>
                                     <li class="pagination-current">{{currentPageAsset}}</li>
                                     <li> <button class="pagination-next" type="button" disabled="{{disabledAsset}}" on-click="nextAsset()"></button></li>
                                 </ul>
                       </clr-dg-footer>
                </clr-datagrid>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeSelectOtherAsset()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confirmUpdateServerAsset()">Ok</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
        <h3 class="modal-title">Delete Mapping</h3>
        <div class="modal-body">
                <p>Are you sure to delete the mapping item?</p>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirm()">Ok</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="mappedSensorAssetModalOpen" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
         <h3 class="modal-title">Mapping Sensors</h3>
        
        <div class="modal-body">

                <clr-alert [clrAlertClosable]="true" *ngIf="updateAssetModalErrorShow" [clrAlertType]="'danger'">
                        <clr-alert-item>
                                <span class="alert-text">
                                {{updateAssetError}}
                                </span>
                        </clr-alert-item>
                </clr-alert>
                    <clr-datagrid>
                        <clr-dg-column>Metric Name</clr-dg-column>
                        <clr-dg-column>Mapped Sensors</clr-dg-column>
                        <clr-dg-column>Option</clr-dg-column>
                    
                        <clr-dg-row *ngFor="let metric of metricsDatas">
                            <clr-dg-cell>{{metric.metricName}}</clr-dg-cell>
                            <clr-dg-cell>
                                <div *ngIf="metric.sensors.length > 0">
                                        <table class="table table-compact" style="margin:0px;">
                                                <thead>
                                                        <tr>
                                                        <th class="left">Sensor Name</th>
                                                        <th>Serial Number</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr *ngFor="let asset of metric.sensors">
                                                        <td class="left">{{asset.assetName}}</td>
                                                        <td>{{asset.serialnumber}}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                           </clr-dg-cell>
                            <clr-dg-cell><button class="btn btn-sm" (click)="selectSensor(metric.metricName)">Mapping Sensor</button></clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeMappingSensor()">Close</button>
        </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="selectSensorShow" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'" [clrModalClosable]="false">
        <h3 class="modal-title">Select Sensors</h3>
       
        <div class="modal-body">

                <clr-alert [clrAlertClosable]="true" *ngIf="updateAssetModalErrorShow" [clrAlertType]="'danger'">
                        <clr-alert-item>
                            <span class="alert-text">
                                {{updateAssetError}}
                            </span>
                        </clr-alert-item>
                    </clr-alert>
                <div class="form-group">
                        <table>
                                <tr>
                                   <td><input type="text" id="formFields_8" placeholder="assetName" [(ngModel)]="keywords" (keyup)="($event.which === 13) ? search() : 0" size="35"></td>
                                   <td><button class="btn btn-sm" (click)="search();" [clrLoading]="searchBtnState" [disabled]="searchBtnDisabled">Search</button></td>
                                   <td>MappedAsset: </td>
                                   <td>
                                       
                                        <clr-checkbox *ngFor="let asset of mappedSensors"  [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="asset.enable" [clrInline]="true">
                                                {{asset.assetName}}
                                        </clr-checkbox>
                                        
                                   </td>
                                </tr>
                        </table>                
                </div>
                <clr-datagrid [(clrDgSelected)]="selectedSensors" [clDgRowSelection]="true" [clrDgLoading]="loading">
                        <clr-dg-column>Asset Name</clr-dg-column>
                        <clr-dg-column>Asset Source</clr-dg-column>
                        <clr-dg-column>Serial Number</clr-dg-column>
                        <clr-dg-column>Tag</clr-dg-column>
                        <clr-dg-column>Manufacturer</clr-dg-column>
                        <clr-dg-column>Model</clr-dg-column>
                        <clr-dg-column>Location</clr-dg-column>
                        <clr-dg-column>Cabinet Name</clr-dg-column>
                        <clr-dg-column>Cabine tUnit Position</clr-dg-column>
                        <clr-dg-placeholder>We couldn't find any assets!</clr-dg-placeholder>

                       <clr-dg-row *clrDgItems="let asset of assets" [clrDgItem]="asset">
                            <clr-dg-cell>{{asset.assetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.assetSource}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.serialnumber}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.tag}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.manufacturer}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.model}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.region}},{{asset.country}},{{asset.city}},{{asset.building}},{{asset.floor}},{{asset.room}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetName}}</clr-dg-cell>
                            <clr-dg-cell>{{asset.cabinetUnitPosition}}</clr-dg-cell>
                       </clr-dg-row>
                      
                       <clr-dg-footer>
                                <ul class="pagination">
                                     <li ><button class="pagination-previous" type="button" on-click="previousAsset()" ></button></li>
                                     <li class="pagination-current">{{currentPageAsset}}</li>
                                     <li> <button class="pagination-next" type="button" disabled="{{disabledAsset}}" on-click="nextAsset()"></button></li>
                                 </ul>
                       </clr-dg-footer>
                </clr-datagrid>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="closeSelectSelectSensor()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="confirmUpdateServerAsset()">Ok</button>
        </div>
</clr-modal>