<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->

<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Operation tips</h3>
    <div class="modal-body">
        <p>{{modal}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="back()">Back List</button>
    </div>
</clr-modal>


<form clrForm [formGroup]="editUserForm">

    <clr-control-container>
        <label>UserName</label>
        <input clrControl placeholder="Username" formControlName="username"/>
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
    </clr-control-container>

    <clr-control-container>
        <label>Email</label>
        <input clrControl placeholder="Email" formControlName="email" />
        <clr-control-helper>Email should be a valid email address like name@example.com.</clr-control-helper>
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
        <clr-control-error *clrIfError="'email'">Email should be a valid email address like name@example.com.</clr-control-error>
    </clr-control-container>

    <clr-password-container>
        <label>Password</label>
        <input placeholder="Password" clrPassword formControlName="password" name="password" />
        <clr-control-helper> Password should be 8-20 characters long with at least 1 uppercase, 1 lowercase and 1 number.</clr-control-helper>
        <clr-control-error *clrIfError="'pattern'"> Password should be 8-20 characters long with at least 1 uppercase, 1 lowercase and 1 number.</clr-control-error>
    </clr-password-container>

    <clr-password-container>
        <label>Confirm Password</label>
        <input placeholder="Confirm Password"  clrPassword formControlName="repassword"  name="repassword" />
        <clr-control-helper> Password should be 8-20 characters long with at least 1 uppercase, 1 lowercase and 1 number.</clr-control-helper>
        <clr-control-error *clrIfError="'mismatch'">Passwords do not match.</clr-control-error>
    </clr-password-container>

    <clr-control-container>
        <label class="clr-control-label">Roles</label>
        <div class="clr-control-container clr-control-inline">
        <div class="clr-checkbox-wrapper" *ngFor="let role of roles">
            <input type="checkbox" required id="{{role.roleName}}"  name="{{role.roleName}}" value="role.roleName" 
            [ngModelOptions]="{standalone: true}" [(ngModel)]="role.enable" class="clr-checkbox" (change)="addrole(role.roleName,role.enable)" />
            <label for="{{role.roleName}}" class="clr-control-label">{{role.roleName}}</label>
        </div>
        </div>
        <clr-control-helper>Please choose at least one role.</clr-control-helper>
    </clr-control-container>
        
    <div style="margin-top: 50px;">
        <button type="submit" class="btn btn-primary" on-click="save()" [disabled]="editUserForm.invalid">Submit</button>
        <button type="button" class="btn btn-primary" on-click="back()">Back</button>
    </div>
</form>