<!-- Copyright 2020 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->

<button class="btn btn-primary btn-icon" style="margin-right: 12px" (click)="addAdapterType()" >
  <clr-icon shape="plus">
    </clr-icon>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">New Facility Adapter</font>
     </font>
</button>

<clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="true" [(clrAlertClosed)] = "deleteErrorClosed">
    <div class="alert-item">
        <span>{{deleteErrorMsg}}</span>
    </div>
</clr-alert>

<clr-datagrid>
 
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-placeholder>We couldn't find any facility adapter!</clr-dg-placeholder>


<clr-dg-row *ngFor="let adapter of adapters">
    <clr-dg-action-overflow>
        <button class="action-item"  (click)="onEditAdapter(adapter)" >Edit</button>
        <button class="action-item"  (click)="deleteAdapter(adapter.id)" >Delete</button>
        <button class="action-item"  (click)="showDetail(adapter)" >Show Detail</button>
    </clr-dg-action-overflow>
      <clr-dg-cell>{{adapter.displayName}}</clr-dg-cell>
      <clr-dg-cell>{{adapter.description}}</clr-dg-cell>
</clr-dg-row>
<clr-dg-footer>
    <ul class="pagination">
        <li style="padding-top: 5px;"><div class="select">
          <select id="selects_1" [ngModel]="pageSize" (ngModelChange)="pageSize=$event;setInfo()">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select></div>
      </li>
         <li ><button class="pagination-previous" type="button" on-click="previous()" ></button></li>
         <li class="pagination-current">{{currentPage}}/{{totalPage}}</li>
         <li> <button class="pagination-next" type="button" disabled="{{nextbtnDisabled}}" on-click="next()"></button></li>
     </ul>
</clr-dg-footer>

</clr-datagrid>

<clr-wizard #addFacilityAdapterwizard [(clrWizardOpen)]="addFacilityAdapterOpen">
    <clr-wizard-title>New Facility Adapter</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Close</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" >Done</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
        <ng-template clrPageTitle>Create</ng-template> 
        <form #formPageOne="ngForm">
            <section class="form-block">
                <div class="form-group ">
                    <label class="required" for="gForm_5">Type</label>
                        <div class="select" style="width:184px; ">
                            <select id="gForm_5" [ngModelOptions]="{standalone: true}"  [ngModel]="newFacilityAdapter.type" (ngModelChange)="newFacilityAdapter.type=$event"> 
                                    <option value="OtherCMDB">CMDB</option>
                                    <option value="OtherDCIM">DCIM</option>
                            </select>
                        </div>
                </div>
                <div class="form-group">
                    <label class="required">Display Name</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip"
                        [class.invalid]="name.touched && !name.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required
                        pattern="^[a-zA-Z][a-zA-Z0-9_]*$"
                        [(ngModel)]="newFacilityAdapter.displayName" name="name" #name="ngModel">
                        <span class="tooltip-content">{{Command_Name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="newFacilityAdapter.description" name="description" ></textarea>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid">
        <ng-template clrPageTitle>Config adapter</ng-template> 
        <ng-template clrPageNavTitle>
            Config
        </ng-template> 
        <clr-alert [clrAlertType]="'alert-info'" [clrAlertClosable]="false">
            <div class="alert-item">
               <span>{{Command_Description}}</span>
            </div>
        </clr-alert>
        <button class="btn btn-primary" style="margin-bottom: -15px;" (click)="openAddCommand()"><clr-icon shape="plus">
        </clr-icon>{{Add_Command}}</button>
        <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Trigger Cycle</clr-dg-column>
        
            <clr-dg-row *ngFor="let command of predefineAdapterCommands">
                <clr-dg-action-overflow>
                    <button class="action-item"  (click)="onEdit(command)" >Edit</button>
                    <button class="action-item" [disabled]="checkIsPredefineData(command)" (click)="onDelete(command)" >Delete</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{command.command}}</clr-dg-cell>
                <clr-dg-cell title="{{command.description}}" style="max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{command.description}}</clr-dg-cell>
                <clr-dg-cell>{{command.triggerCycle}} minutes</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>

         <form #commandForm="ngForm" *ngIf="onAdd">
            <section class="form-block">
                <label>{{Nem_Command_Form_Lable}}</label>
                <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="true" [(clrAlertClosed)] = "addCommandErrorClosed">
                    <div class="alert-item">
                        <span>{{Duplicate_Command_Name}}</span>
                    </div>
                </clr-alert>
                <div class="form-group">
                    <label>Name</label>
                    <label for="commandname" aria-haspopup="true" role="tooltip"
                        [class.invalid]="commandname.touched && !commandname.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="commandname" required 
                        pattern="^[a-zA-Z][a-zA-Z0-9_]*$" [(ngModel)]="newCommand.command" name="commandname" #commandname="ngModel">
                        <span class="tooltip-content">{{Command_Name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>TriggerCycle</label>
                    <label for="numberInput" aria-haspopup="true" role="tooltip"
                        [class.invalid]="getValidationState()"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="number" id="numberInput" required [(ngModel)]="newCommand.triggerCycle" 
                            name="number" #number="ngModel"
                            required
                            pattern="^[0-9]*[1-9][0-9]*$"
                            (input)='handleValidation(newCommand.triggerCycle)' 
                            (blur)='handleValidation(newCommand.triggerCycle)'>
                        <span class="tooltip-content">
                            {{Trigger_Cycle_Number}}
                        </span>
                    </label>
                    <div class="select">
                        <select id="exampleSelect1">
                            <option>Minute</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="newCommand.description" name="description" ></textarea>
                </div>
                <button type="submit" [clrLoading]="addNewCommandSubmitLoading" class="btn btn-primary" on-click="addNewCommand()" [disabled]="commandForm.form.invalid || getValidationState()">Add</button>
                <button type="button" class="btn btn-primary" on-click="resetNewCommandForm()">Close</button>
            </section>
          
        </form> 
        <form #commandEditForm="ngForm" *ngIf="onedit">
            <section class="form-block">
                <label>{{Edit_adapter_command}}</label>
                <div class="form-group">
                    <label>Name</label>
                    <label for="commandname" aria-haspopup="true" role="tooltip"
                        [class.invalid]="commandname.touched && !commandname.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="commandname" disabled required [(ngModel)]="editCommand.command" name="commandname" #commandname="ngModel">
                        <span class="tooltip-content">This field cannot be empty!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>TriggerCycle</label>
                    <label for="numberInput" aria-haspopup="true" role="tooltip"
                        [class.invalid]="getValidationState()"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="number" id="editcommandnumberInput" required [(ngModel)]="editCommand.triggerCycle" 
                            name="number" #number="ngModel"
                            required
                            pattern="^[0-9]*[1-9][0-9]*$"
                            (input)='handleValidation(editCommand.triggerCycle)' 
                            (blur)='handleValidation(editCommand.triggerCycle)'>
                        <span class="tooltip-content">
                            This field cannot be empty,and this value should be divisible by 5.
                        </span>
                    </label>
                    <div class="select">
                        <select id="exampleSelect1">
                            <option>Minute</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="editCommand.description" name="description" ></textarea>
                </div>
                <button type="submit" [clrLoading]="editCommandSubmitLoading" class="btn btn-primary" on-click="saveEditCommand(editCommand)" [disabled]="commandEditForm.form.invalid || getValidationState()">Add</button>
                <button type="button" class="btn btn-primary" on-click="resetEditCommandForm()">Close</button>
            </section>    
        </form> 
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid"
    clrWizardPagePreventDefault="true"
    (clrWizardPageOnCancel)="addAdapterDoCancel()"
    (clrWizardPagePrevious)="addAdapterGoBack()"
    (clrWizardPageOnCommit)="saveNewAdapter()">
        <ng-template clrPageTitle>Go to complete!</ng-template> 
        <ng-template clrPageNavTitle>
            Complete
        </ng-template> 
        <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="true" [(clrAlertClosed)] = "addErrorClosed">
            <div class="alert-item">
                <span>{{addErrorMsg}}</span>
            </div>
        </clr-alert>
        <div class="spinner" *ngIf="addLoadingFlag">
            Loading...
        </div>
        <div *ngIf="formPageOne.valid">
           
            <form >
                <label>Your information</label>
                <section class="form-block">
                   
                    <div class="form-group">
                        <label>Type:</label>
                        <span>{{translateTypeName(newFacilityAdapter.type)}}</span>
                    </div>

                    <div class="form-group">
                        <label>Display name:</label>
                        <span>{{newFacilityAdapter.displayName }}</span>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea clrTextarea [(ngModel)]="newFacilityAdapter.description" name="description" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label>Commands:</label>
                        <clr-datagrid style="width: -webkit-fill-available;">
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column>Trigger Cycle</clr-dg-column>
                        
                            <clr-dg-row *ngFor="let command of predefineAdapterCommands">
                                <clr-dg-cell>{{command.command}}</clr-dg-cell>
                                <clr-dg-cell title="{{command.description}}" style="max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{command.description}}</clr-dg-cell>
                                <clr-dg-cell>{{command.triggerCycle}} minutes</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>
                </section>
            </form>
        </div>

        <div *ngIf="!formPageOne.valid">
            <p>Not quite there yet.</p>
        </div>

    </clr-wizard-page>
</clr-wizard>
<clr-wizard #editFacilityAdapterwizard [(clrWizardOpen)]="editFacilityAdapterOpen">
    <clr-wizard-title>Edit Facility Adapter</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Close</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" >Done</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!edieformPageOne.valid">
        <ng-template clrPageTitle>Create</ng-template> 
        <form #edieformPageOne="ngForm">
            <section class="form-block">
                <div class="form-group ">
                    <label class="required" for="gForm_5">Type</label>
                        <div class="select" style="width:184px; ">
                            <select id="gForm_5" [ngModelOptions]="{standalone: true}"  [ngModel]="editAdapter.type" (ngModelChange)="editAdapter.type=$event"> 
                                    <option value="OtherCMDB">CMDB</option>
                                    <option value="OtherDCIM">DCIM</option>
                            </select>
                        </div>
                </div>
                <div class="form-group">
                    <label class="required">Display Name</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip"
                        [class.invalid]="name.touched && !name.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required
                        pattern="^[a-zA-Z][a-zA-Z0-9_]*$"
                        [(ngModel)]="editAdapter.displayName" name="name" #name="ngModel">
                        <span class="tooltip-content">This field cannot be empty! Only letters and numbers can be entered and start with a letter</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="editAdapter.description" name="description" ></textarea>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!edieformPageOne.valid">
        <ng-template clrPageTitle>Config adapter</ng-template> 
        <ng-template clrPageNavTitle>
            Config
        </ng-template> 
        <clr-alert [clrAlertType]="'alert-info'" [clrAlertClosable]="false">
            <div class="alert-item">
               <span>{{Command_Description}}</span>
            </div>
        </clr-alert>
        <button class="btn btn-primary" style="margin-bottom: -15px;" (click)="openAddCommandForEditAdapter()"><clr-icon shape="plus">
        </clr-icon>{{Add_Command}}</button>
        <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Trigger Cycle</clr-dg-column>
        
            <clr-dg-row *ngFor="let command of editAdapter.commands">
                <clr-dg-action-overflow>
                    <button class="action-item"  (click)="onEditForEditAdapter(command)" >Edit</button>
                    <button class="action-item" [disabled]="checkIsPredefineData(command)" (click)="onDeleteForEditAdapter(command)" >Delete</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{command.command}}</clr-dg-cell>
                <clr-dg-cell title="{{command.description}}" style="max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{command.description}}</clr-dg-cell>
                <clr-dg-cell>{{command.triggerCycle}} minutes</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>

         <form #editAdapterCommandForm="ngForm" *ngIf="onAddForEditAdapter">
            <section class="form-block">
                <label>{{Nem_Command_Form_Lable}}</label>
                <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="true" [(clrAlertClosed)] = "addCommandErrorClosedForEditAdapter">
                    <div class="alert-item">
                        <span>{{Duplicate_Command_Name}}</span>
                    </div>
                </clr-alert>
                <div class="form-group">
                    <label>Name</label>
                    <label for="commandname" aria-haspopup="true" role="tooltip"
                        [class.invalid]="commandname.touched && !commandname.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="commandname" required 
                        pattern="^[a-zA-Z][a-zA-Z0-9_]*$" [(ngModel)]="newCommandForEditAdapter.command" name="commandname" #commandname="ngModel">
                        <span class="tooltip-content">{{Command_Name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>TriggerCycle</label>
                    <label for="numberInputForEdit" aria-haspopup="true" role="tooltip"
                        [class.invalid]="getValidationState()"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="number" id="numberInputForEdit" required [(ngModel)]="newCommandForEditAdapter.triggerCycle" 
                            name="number" #number="ngModel"
                            required
                            pattern="^[0-9]*[1-9][0-9]*$"
                            (input)='handleValidation(newCommandForEditAdapter.triggerCycle)' 
                            (blur)='handleValidation(newCommandForEditAdapter.triggerCycle)'>
                        <span class="tooltip-content">
                            {{Trigger_Cycle_Number}}
                        </span>
                    </label>
                    <div class="select">
                        <select id="exampleSelect1">
                            <option>Minute</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="newCommandForEditAdapter.description" name="description" ></textarea>
                </div>
                <button type="submit" [clrLoading]="addNewCommandSubmitLoadingForEditAdapter" class="btn btn-primary" on-click="addNewCommandForEditAdapter()" [disabled]="editAdapterCommandForm.form.invalid || getValidationState()">Add</button>
                <button type="button" class="btn btn-primary" on-click="resetNewCommandFormForEditAdapter()">Close</button>
            </section>
          
        </form> 
        <form #editFormcommandEditForm="ngForm" *ngIf="oneditForEditAdapter">
            <section class="form-block">
                <label>{{Edit_adapter_command}}</label>
                <div class="form-group">
                    <label>Name</label>
                    <label for="commandname" aria-haspopup="true" role="tooltip"
                        [class.invalid]="commandname.touched && !commandname.valid"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="commandname" disabled required [(ngModel)]="editCommandForEditAdapter.command" name="commandname" #commandname="ngModel">
                        <span class="tooltip-content">This field cannot be empty!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>TriggerCycle</label>
                    <label for="numberInput" aria-haspopup="true" role="tooltip"
                        [class.invalid]="getValidationState()"
                        class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="number" id="editcommandnumberInput" required [(ngModel)]="editCommandForEditAdapter.triggerCycle" 
                            name="number" #number="ngModel"
                            required
                            pattern="^[0-9]*[1-9][0-9]*$"
                            (input)='handleValidation(editCommandForEditAdapter.triggerCycle)' 
                            (blur)='handleValidation(editCommandForEditAdapter.triggerCycle)'>
                        <span class="tooltip-content">
                            {{Trigger_Cycle_Number}}
                        </span>
                    </label>
                    <div class="select">
                        <select id="exampleSelect1">
                            <option>Minute</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="favInput">Description</label>
                    <textarea clrTextarea [(ngModel)]="editCommandForEditAdapter.description" name="description" ></textarea>
                </div>
                <button type="submit" [clrLoading]="editCommandSubmitLoadingForEditAdapter" class="btn btn-primary" on-click="saveEditCommandForEditAdapter(editCommandForEditAdapter)" [disabled]="editFormcommandEditForm.form.invalid || getValidationState()">Add</button>
                <button type="button" class="btn btn-primary" on-click="resetEditCommandFormForEditAdapter()">Close</button>
            </section>    
        </form> 
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!edieformPageOne.valid"  clrWizardPagePreventDefault="true"
    (clrWizardPageOnCancel)="doCancel()"
    (clrWizardPagePrevious)="goBack()"
    (clrWizardPageOnCommit)="updateAdapter()">
        <ng-template clrPageTitle>Go to complete</ng-template> 
        <ng-template clrPageNavTitle>
            Complete
        </ng-template> 
        <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="true" [(clrAlertClosed)] = "editErrorClosed">
            <div class="alert-item">
                <span>{{editErrorMsg}}</span>
            </div>
        </clr-alert>
        <div class="spinner" *ngIf="loadingFlag">
            Loading...
        </div>
        <div *ngIf="edieformPageOne.valid">
           
            <form >
                <label>Your information</label>
                <section class="form-block">
                   
                    <div class="form-group">
                        <label>Type:</label>
                        <span>{{translateTypeName(editAdapter.type)}}</span>
                    </div>

                    <div class="form-group">
                        <label>Display name:</label>
                        <span>{{editAdapter.displayName }}</span>
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea clrTextarea [(ngModel)]="editAdapter.description" name="description" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label>Commands:</label>
                        <clr-datagrid style="width: -webkit-fill-available;">
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column>Trigger Cycle</clr-dg-column>
                        
                            <clr-dg-row *ngFor="let command of editAdapter.commands">
                                <clr-dg-cell>{{command.command}}</clr-dg-cell>
                                <clr-dg-cell title="{{command.description}}" style="max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{command.description}}</clr-dg-cell>
                                <clr-dg-cell>{{command.triggerCycle}} minutes</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>
                </section>
            </form>
        </div>
    </clr-wizard-page>
</clr-wizard>

<clr-modal [(clrModalOpen)]="showDetailPageShow" [clrModalSize]="'lg'">
    <h3 class="modal-title">Adapter config</h3>
    <div class="modal-body">
        <form >
            <section class="form-block">
                <div class="form-group">
                    <label>Type:</label>
                    <span>{{translateTypeName(showDetaileAdapter.type)}}</span>
                </div>

                <div class="form-group">
                    <label>Display name:</label>
                    <span>{{showDetaileAdapter.displayName }}</span>
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea clrTextarea [(ngModel)]="showDetaileAdapter.description" name="description" readonly></textarea>
                </div>
                <div class="form-group">
                    <label>Commands:</label>
                    <clr-datagrid style="width: -webkit-fill-available;">
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>
                        <clr-dg-column>Trigger Cycle</clr-dg-column>
                    
                        <clr-dg-row *ngFor="let command of showDetaileAdapter.commands">
                            <clr-dg-cell>{{command.command}}</clr-dg-cell>
                            <clr-dg-cell title="{{command.description}}" style="max-width: 300px;text-overflow:ellipsis;overflow:hidden;white-space: nowrap;">{{command.description}}</clr-dg-cell>
                            <clr-dg-cell>{{command.triggerCycle}} minutes</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
                <div class="form-group">
                    <label>Topic:</label>
                    <span>{{showDetaileAdapter.topic }}</span>
                </div>
                <div class="form-group">
                    <label>Queue name:</label>
                    <span>{{showDetaileAdapter.queueName }}</span>
                </div>
                <div class="form-group">
                    <label>Service Key:</label>
                    <span>{{showDetaileAdapter.serviceKey }}</span>
                </div>
            </section>
        </form>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="confirmDeleteShow">
    <h3 class="modal-title">Operation Tips</h3>
    <div class="modal-body">
        <p>{{Delete_Info}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="comfirmDelete()">Ok</button>
    </div>
</clr-modal>