<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<button class="btn btn-primary btn-icon" style="margin-right: 12px" (click)="toAddrole()" *appHasPrivilege=addrole>
  <clr-icon shape="plus">
    </clr-icon>
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"  >Create a role</font>
     </font>
</button>
<clr-alert [clrAlertType]="alertType" (clrAlertClosedChange)="close()" [clrAlertClosed]= "alertclose">
    <div class="alert-item">
        <span class="alert-text">
            {{alertcontent}}
        </span>
    </div>
  </clr-alert>
<clr-datagrid [clrDgLoading]="loading" (clrDgRefresh)="refresh($event)">

 <clr-dg-column>Role Name</clr-dg-column>
 <clr-dg-column>Privilege</clr-dg-column>
 <clr-dg-placeholder>We couldn't find any roles!</clr-dg-placeholder>

<clr-dg-row *ngFor="let role of roles">
   <clr-dg-action-overflow>

       <button class="action-item" [disabled]="checkadmin(role.roleName)" (click)="onEdit(role.id,role.roleName,role.privilegeNames)" *appHasPrivilege=updaterole>Edit</button>
       <button class="action-item" [disabled]="checkadmin(role.roleName)" (click)="onDelete(role.id)" *appHasPrivilege=deleterole>Delete</button>
   </clr-dg-action-overflow>
     <clr-dg-cell>{{role.roleName}}</clr-dg-cell>
     <clr-dg-cell><button class="btn btn-sm" style="margin: 0px;" (click)="showprivilege(role.privilegeNames)">show more</button></clr-dg-cell>
</clr-dg-row>

 <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems] = "totalItems">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50]">Roles per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} roles
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

 <clr-modal [(clrModalOpen)]="updateprivilege">
    <h3 class="modal-title">Owned Privileges</h3>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">

            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <clr-datagrid >
                    <clr-dg-column>Privilege</clr-dg-column>
                    <clr-dg-placeholder>We couldn't find any privileges!</clr-dg-placeholder>
                    
                    <clr-dg-row  *ngFor="let item1 of rolePrivilege">              
                   
                        <clr-dg-cell>{{item1}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div> 
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">

                </div>
        </div>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
   <h3 class="modal-title">Operation tips</h3>
   <div class="modal-body">
       <clr-alert [(clrAlertClosed)] = "deleteOptionTipClosed"  [clrAlertType]="'danger'" >
           <div class="alert-item">
               <span class="alert-text">
                   Operation failed.
               </span>
           </div>
       </clr-alert>
       <p>Are you sure you want to delete this data? This action is permenant and cannot be recovered.</p>
   </div>
   <div class="modal-footer">
       <button type="button" class="btn btn-outline" (click)="canceldelete()">Cancel</button>
       <button type="button" class="btn btn-primary" (click)="confirmdelete()">Ok</button>
   </div>
</clr-modal>

<clr-wizard #eidtwizard [(clrWizardOpen)]="editwizardOpen">
    <clr-wizard-title>Update {{role.roleName}}</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="cancleUpdate()">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" >Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Privileges</ng-template>
        
        <div class="clr-row">
        
            <div class="clr-col-md-5">
                <clr-datagrid style="width: 110%;" [(clrDgSelected)]="systemprivilegeselected">
                    <clr-dg-column >Available privileges</clr-dg-column>
                    <clr-dg-placeholder>We couldn't find any privileges!</clr-dg-placeholder>
                    
                    <clr-dg-row  *ngFor="let item of systemPrivileges" [clrDgItem]="item">               
                        <clr-dg-cell>{{item}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
                <div class="clr-col-md-1" style="text-align: center;">
                <clr-icon (click)="addprivilege()" style="position: fixed;top:47%;" class="is-highlight" shape="angle-double right" size="25"></clr-icon>
                <clr-icon (click)="reduceprivilege()" style="position: fixed;top:53%;" class="is-highlight" shape="angle-double left" size="25"></clr-icon>
            </div> 
            <div class="clr-col-md-5">
                <clr-datagrid style="width: 110%;" [(clrDgSelected)]="roleprivilegeselected">
                    <clr-dg-column >Owned Privileges</clr-dg-column>
                    <clr-dg-placeholder>We couldn't find any privileges!</clr-dg-placeholder>
                    
                    <clr-dg-row  *ngFor="let item1 of rolePrivilege" [clrDgItem]="item1">              
                    
                        <clr-dg-cell>{{item1}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
            
        </div>
    </clr-wizard-page>

    <clr-wizard-page
    clrWizardPagePreventDefault="true"
    (clrWizardPageOnCommit)="save()"
    [clrWizardPageNextDisabled]="!editRoleForm.valid">
        
        <ng-template clrPageTitle>Other Information</ng-template>
        <div class="spinner" *ngIf="loadingFlag">
            Loading...
        </div>
        <clr-alert *ngIf="errorFlag" [clrAlertType]="'danger'">
            <div class="alert-item">
                {{errorMessage}}
            </div>
        </clr-alert>
        <form clrForm [formGroup]="editRoleForm">
            <clr-control-container>
                <label>Role Name</label>
                <input clrControl placeholder="Role Name" formControlName="roleName" style="width: 220px;"/>
                <clr-control-helper></clr-control-helper>
                <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            </clr-control-container>
        </form>
    </clr-wizard-page>
    
</clr-wizard>

<clr-wizard #addwizard [(clrWizardOpen)]="addwizardOpen">
    <clr-wizard-title>Create A Role</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="cancleAdd()">Close</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" >Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="rolePrivilege.length == 0">
        <ng-template clrPageTitle>Privileges</ng-template>
        
        <div class="clr-row">
        
            <div class="clr-col-md-5">
                <clr-datagrid style="width: 110%;" [(clrDgSelected)]="systemprivilegeselected">
                    <clr-dg-column >Unowned Privileges</clr-dg-column>
                    <clr-dg-placeholder>We couldn't find any privileges!</clr-dg-placeholder>
                    
                    <clr-dg-row  *ngFor="let item of systemPrivileges" [clrDgItem]="item">               
                        <clr-dg-cell>{{item}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
            <div class="clr-col-sm-1" style="text-align: center;">
                <clr-icon (click)="addprivilege()" style="position: fixed;top:47%;" class="is-highlight" shape="angle-double right" size="25"></clr-icon>
                <clr-icon (click)="reduceprivilege()" style="position: fixed;top:53%;" class="is-highlight" shape="angle-double left" size="25"></clr-icon>
            </div> 
            <div class="clr-col-md-5">
                <clr-datagrid style="width: 110%;" [(clrDgSelected)]="roleprivilegeselected">
                    <clr-dg-column >Owned Privileges</clr-dg-column>
                    <clr-dg-placeholder>Please select at least one privilege!</clr-dg-placeholder>
                    
                    <clr-dg-row  *ngFor="let item1 of rolePrivilege" [clrDgItem]="item1">              
                    
                        <clr-dg-cell>{{item1}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
            
        </div>
    </clr-wizard-page>

    <clr-wizard-page 
    clrWizardPagePreventDefault="true"
    (clrWizardPageOnCommit)="onCommit()"
    (clrWizardPageOnCancel)="doCancel()"
    [clrWizardPageNextDisabled]="!addRoleForm.valid">
        <ng-template clrPageTitle>Role Name</ng-template>
        <div class="spinner" *ngIf="loadingFlag">
                Loading...
        </div>
        <clr-alert *ngIf="errorFlag" [clrAlertType]="'danger'">
            <div class="alert-item">
                {{errorMessage}}
            </div>
        </clr-alert>
        <form clrForm [formGroup]="addRoleForm" [class.hide]="loadingFlag">
            <clr-control-container>
                <label>Role Name</label>
                <input clrControl placeholder="Role Name" formControlName="roleName" style="width: 220px;"/>
                <clr-control-helper></clr-control-helper>
                <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            </clr-control-container>
        </form>
    </clr-wizard-page>
    
</clr-wizard>