<!-- Copyright 2019 VMware, Inc.
SPDX-License-Identifier: BSD-2-Clause -->
<button class="btn btn-primary btn-icon" style="margin-right: 12px" (click)="toEditUser()">
   <clr-icon shape="plus">
     </clr-icon>
     <font style="vertical-align: inherit;">
       <font style="vertical-align: inherit;"  >Create a User</font>
      </font>
</button>
<clr-alert [clrAlertType]="alertType" (clrAlertClosedChange)="close()" [clrAlertClosed]= "alertclose">
  <div class="alert-item">
      <span class="alert-text">
          {{alertcontent}}
      </span>
  </div>
</clr-alert>
<clr-datagrid [clrDgLoading]="loading">
 
  <clr-dg-column>Username</clr-dg-column>
  <clr-dg-column>Role Name</clr-dg-column>
  <clr-dg-column>Email</clr-dg-column>
  <clr-dg-column>Creation Date</clr-dg-column>
  <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>


<clr-dg-row *ngFor="let user of users">
    <clr-dg-action-overflow>
        <button class="action-item" [disabled]="checkadmin(user.userName)" (click)="onEdit(user.id)" *appHasPrivilege=updateUser>Edit</button>
        <button class="action-item" [disabled]="checkadmin(user.userName)" (click)="onDelete(user.id)" *appHasPrivilege=deleteUser>Delete</button>
    </clr-dg-action-overflow>
      <clr-dg-cell>{{user.userName}}</clr-dg-cell>
      <clr-dg-cell>{{user.roleNames}}</clr-dg-cell>
      <clr-dg-cell>{{user.emailAddress}}</clr-dg-cell>
      <clr-dg-cell>{{createTime(user.createTime)}}</clr-dg-cell>
      
</clr-dg-row>


<clr-dg-footer *ngIf="users.length>0">
        <!-- <clr-dg-pagination #pagination [clrDgPageSize]="1"> -->
          <ul class="pagination">
              <li style="padding-top: 5px;"><div class="select">
                <select id="selects_1" [ngModel]="pageSize" (ngModelChange)="pageSize=$event;setInfo()">
                  <option>5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
              </select></div>
            </li>
               <li ><button class="pagination-previous" type="button" on-click="previous()" ></button></li>
               <li class="pagination-current">{{currentPage}}/{{totalPage}}</li>
               <li> <button class="pagination-next" type="button" disabled="{{disabled}}" on-click="next()"></button></li>
           </ul>
        <!-- </clr-dg-pagination> -->
</clr-dg-footer>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="basic" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Operation Tips</h3>
    <div class="modal-body">
        <clr-alert [(clrAlertClosed)] = "clrAlertClosed"  [clrAlertType]="'alert-danger'" (clrAlertClosedChange)="onClose()">
            <div class="alert-item">
                <span class="alert-text">
                    Operation Error
                </span>
            </div>
        </clr-alert>
        <p>Are you sure you want to delete this data? This action is permenant and cannot be recovered.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Ok</button>
    </div>
</clr-modal>
